@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #27272a;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-plus-jakarta);
	--font-serif: var(--font-crimson);
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

pre,
code {
	/* Nascondi scrollbar Firefox */
	scrollbar-width: none;
	/* Nascondi scrollbar IE/Edge */
	-ms-overflow-style: none;
}

/* Nascondi scrollbar WebKit (Chrome, Safari, Edge) */
pre::-webkit-scrollbar,
code::-webkit-scrollbar {
	display: none;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
